.page-header
  %h1 RavStats? Tell me more!
%p
  RavStats is a toy made by Josh Kaplan so that he can work for Ravelry because that would be totally awesome and hint hint you guys should hire me.
%p
  If you think it can be better, go fork it on
  = link_to "Github.", "https://github.com/jkap/ravstats"
%p
  If you can't code, email him at
  = link_to "joshbrentkaplan[at]gmail[dot]com", "mailto:joshbrentkaplan+ravstats@gmail.com"
