common: &common
  adapter: postgresql
  host: localhost
  username: ravstats
  password: ravstats # from psql setup, see Postgresql

development:
  <<: *common
  database: ravstats_development

test:
  <<: *common
  database: ravstats_test

production:
  <<: *common
  database: ravstats_production